<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a 
    href="#"
    class="navbar-brand.mb-0 h1">
      <img 
      class="d-inline-block align-top"
      src="https://w1.pngwing.com/pngs/536/984/png-transparent-book-logo-book-design-childrens-literature-cartoon-page-text-orange-line.png"
      width="30" height="30" />
      Navbar
  </a>
  <div class="collapse navbar-collapse" 
  id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-tem active">
      <a href="#" class="nav-link">
        Home
      </a>
    </li>
    <li class="nav-tem active">
      <a href="#" class="nav-link">
        Add
      </a>
    </li>
    <li class="nav-tem active">
      <a href="#" class="nav-link">
        Edit
      </a>
    </li>
  </ul>
  </div>
</nav>


{% extends 'base.html' %} {% block content %}
<h1>Book Tracker Page</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<table id="book_table"></table>

<br />

<a href="{% url 'main:create_book' %}">
  <button class="btn btn-info">Add New Book</button>
</a>

<a href="{% url 'main:logout' %}">
  <button class="btn btn-danger">Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>

<script>
  async function getBooks() {
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }

  async function refreshBooks() {
        document.getElementById("book_table").innerHTML = ""
        const books = await getBooks()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Page</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        books.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.page}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })

        document.getElementById("book_table").innerHTML = htmlString
    }

    refreshBooks()

    function addBook() {
        fetch("{% url 'main:add_book_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshBooks)

        document.getElementById("button_add").onclick = addBook
        return false
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="page" class="col-form-label">Page:</label>
                        <input type="number" class="form-control" id="page" name="page"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Book</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Book by AJAX
</button>
{% endblock content %}